/*   Selectors that apply appropriate styles for each color.
     Any themed hoverable will be highlighted based off their design color.  */
.pri {
  background: #71c4e6;
  color: #ffffff;
}
.pri.text {
  background: unset;
  color: #71c4e6;
}
.pri.hover:hover {
  background: #b2dff1;
  color: #000000;
}
.pri:focus {
  background: #b2dff1;
  color: #000000;
}
.pri.bordered {
  border: 5px solid #30a9db;
}
.pri.trans-light {
  background: rgba(113, 196, 230, 0.9);
}
.pri.trans-light.text {
  background: unset;
  color: rgba(113, 196, 230, 0.9);
}
.pri.trans-light.hover:hover {
  background: rgba(178, 223, 241, 0.9);
  color: #000000;
}
.pri.trans-light:focus {
  background: rgba(178, 223, 241, 0.9);
  color: #000000;
}
.pri.trans {
  background: rgba(113, 196, 230, 0.6);
}
.pri.trans.text {
  background: unset;
  color: rgba(113, 196, 230, 0.6);
}
.pri.trans.hover:hover {
  background: rgba(178, 223, 241, 0.6);
  color: #000000;
}
.pri.trans:focus {
  background: rgba(178, 223, 241, 0.6);
  color: #000000;
}
.pri.trans-heavy {
  background: rgba(113, 196, 230, 0.3);
}
.pri.trans-heavy.text {
  background: unset;
  color: rgba(113, 196, 230, 0.3);
}
.pri.trans-heavy.hover:hover {
  background: rgba(178, 223, 241, 0.3);
  color: #000000;
}
.pri.trans-heavy:focus {
  background: rgba(178, 223, 241, 0.3);
  color: #000000;
}
.c1p {
  background: #71e6ce;
  color: #ffffff;
}
.c1p.text {
  background: unset;
  color: #71e6ce;
}
.c1p.hover:hover {
  background: #b2f1e4;
  color: #000000;
}
.c1p:focus {
  background: #b2f1e4;
  color: #000000;
}
.c1p.bordered {
  border: 5px solid #30dbb7;
}
.c1p.trans-light {
  background: rgba(113, 230, 206, 0.9);
}
.c1p.trans-light.text {
  background: unset;
  color: rgba(113, 230, 206, 0.9);
}
.c1p.trans-light.hover:hover {
  background: rgba(178, 241, 228, 0.9);
  color: #000000;
}
.c1p.trans-light:focus {
  background: rgba(178, 241, 228, 0.9);
  color: #000000;
}
.c1p.trans {
  background: rgba(113, 230, 206, 0.6);
}
.c1p.trans.text {
  background: unset;
  color: rgba(113, 230, 206, 0.6);
}
.c1p.trans.hover:hover {
  background: rgba(178, 241, 228, 0.6);
  color: #000000;
}
.c1p.trans:focus {
  background: rgba(178, 241, 228, 0.6);
  color: #000000;
}
.c1p.trans-heavy {
  background: rgba(113, 230, 206, 0.3);
}
.c1p.trans-heavy.text {
  background: unset;
  color: rgba(113, 230, 206, 0.3);
}
.c1p.trans-heavy.hover:hover {
  background: rgba(178, 241, 228, 0.3);
  color: #000000;
}
.c1p.trans-heavy:focus {
  background: rgba(178, 241, 228, 0.3);
  color: #000000;
}
.c2p {
  background: #718ae6;
  color: #ffffff;
}
.c2p.text {
  background: unset;
  color: #718ae6;
}
.c2p.hover:hover {
  background: #b2bff1;
  color: #ffffff;
}
.c2p:focus {
  background: #b2bff1;
  color: #ffffff;
}
.c2p.bordered {
  border: 5px solid #3054db;
}
.c2p.trans-light {
  background: rgba(113, 138, 230, 0.9);
}
.c2p.trans-light.text {
  background: unset;
  color: rgba(113, 138, 230, 0.9);
}
.c2p.trans-light.hover:hover {
  background: rgba(178, 191, 241, 0.9);
  color: #ffffff;
}
.c2p.trans-light:focus {
  background: rgba(178, 191, 241, 0.9);
  color: #ffffff;
}
.c2p.trans {
  background: rgba(113, 138, 230, 0.6);
}
.c2p.trans.text {
  background: unset;
  color: rgba(113, 138, 230, 0.6);
}
.c2p.trans.hover:hover {
  background: rgba(178, 191, 241, 0.6);
  color: #ffffff;
}
.c2p.trans:focus {
  background: rgba(178, 191, 241, 0.6);
  color: #ffffff;
}
.c2p.trans-heavy {
  background: rgba(113, 138, 230, 0.3);
}
.c2p.trans-heavy.text {
  background: unset;
  color: rgba(113, 138, 230, 0.3);
}
.c2p.trans-heavy.hover:hover {
  background: rgba(178, 191, 241, 0.3);
  color: #ffffff;
}
.c2p.trans-heavy:focus {
  background: rgba(178, 191, 241, 0.3);
  color: #ffffff;
}
.c3p {
  background: #9371e6;
  color: #ffffff;
}
.c3p.text {
  background: unset;
  color: #9371e6;
}
.c3p.hover:hover {
  background: #c4b2f1;
  color: #ffffff;
}
.c3p:focus {
  background: #c4b2f1;
  color: #ffffff;
}
.c3p.bordered {
  border: 5px solid #6230db;
}
.c3p.trans-light {
  background: rgba(147, 113, 230, 0.9);
}
.c3p.trans-light.text {
  background: unset;
  color: rgba(147, 113, 230, 0.9);
}
.c3p.trans-light.hover:hover {
  background: rgba(196, 178, 241, 0.9);
  color: #ffffff;
}
.c3p.trans-light:focus {
  background: rgba(196, 178, 241, 0.9);
  color: #ffffff;
}
.c3p.trans {
  background: rgba(147, 113, 230, 0.6);
}
.c3p.trans.text {
  background: unset;
  color: rgba(147, 113, 230, 0.6);
}
.c3p.trans.hover:hover {
  background: rgba(196, 178, 241, 0.6);
  color: #ffffff;
}
.c3p.trans:focus {
  background: rgba(196, 178, 241, 0.6);
  color: #ffffff;
}
.c3p.trans-heavy {
  background: rgba(147, 113, 230, 0.3);
}
.c3p.trans-heavy.text {
  background: unset;
  color: rgba(147, 113, 230, 0.3);
}
.c3p.trans-heavy.hover:hover {
  background: rgba(196, 178, 241, 0.3);
  color: #ffffff;
}
.c3p.trans-heavy:focus {
  background: rgba(196, 178, 241, 0.3);
  color: #ffffff;
}
.sec {
  background: #718ae6;
  color: #ffffff;
}
.sec.text {
  background: unset;
  color: #718ae6;
}
.sec.hover:hover {
  background: #b2bff1;
  color: #ffffff;
}
.sec:focus {
  background: #b2bff1;
  color: #ffffff;
}
.sec.bordered {
  border: 5px solid #3054db;
}
.sec.trans-light {
  background: rgba(113, 138, 230, 0.9);
}
.sec.trans-light.text {
  background: unset;
  color: rgba(113, 138, 230, 0.9);
}
.sec.trans-light.hover:hover {
  background: rgba(178, 191, 241, 0.9);
  color: #ffffff;
}
.sec.trans-light:focus {
  background: rgba(178, 191, 241, 0.9);
  color: #ffffff;
}
.sec.trans {
  background: rgba(113, 138, 230, 0.6);
}
.sec.trans.text {
  background: unset;
  color: rgba(113, 138, 230, 0.6);
}
.sec.trans.hover:hover {
  background: rgba(178, 191, 241, 0.6);
  color: #ffffff;
}
.sec.trans:focus {
  background: rgba(178, 191, 241, 0.6);
  color: #ffffff;
}
.sec.trans-heavy {
  background: rgba(113, 138, 230, 0.3);
}
.sec.trans-heavy.text {
  background: unset;
  color: rgba(113, 138, 230, 0.3);
}
.sec.trans-heavy.hover:hover {
  background: rgba(178, 191, 241, 0.3);
  color: #ffffff;
}
.sec.trans-heavy:focus {
  background: rgba(178, 191, 241, 0.3);
  color: #ffffff;
}
.c1s {
  background: #71c4e6;
  color: #ffffff;
}
.c1s.text {
  background: unset;
  color: #71c4e6;
}
.c1s.hover:hover {
  background: #b2dff1;
  color: #000000;
}
.c1s:focus {
  background: #b2dff1;
  color: #000000;
}
.c1s.bordered {
  border: 5px solid #30a9db;
}
.c1s.trans-light {
  background: rgba(113, 196, 230, 0.9);
}
.c1s.trans-light.text {
  background: unset;
  color: rgba(113, 196, 230, 0.9);
}
.c1s.trans-light.hover:hover {
  background: rgba(178, 223, 241, 0.9);
  color: #000000;
}
.c1s.trans-light:focus {
  background: rgba(178, 223, 241, 0.9);
  color: #000000;
}
.c1s.trans {
  background: rgba(113, 196, 230, 0.6);
}
.c1s.trans.text {
  background: unset;
  color: rgba(113, 196, 230, 0.6);
}
.c1s.trans.hover:hover {
  background: rgba(178, 223, 241, 0.6);
  color: #000000;
}
.c1s.trans:focus {
  background: rgba(178, 223, 241, 0.6);
  color: #000000;
}
.c1s.trans-heavy {
  background: rgba(113, 196, 230, 0.3);
}
.c1s.trans-heavy.text {
  background: unset;
  color: rgba(113, 196, 230, 0.3);
}
.c1s.trans-heavy.hover:hover {
  background: rgba(178, 223, 241, 0.3);
  color: #000000;
}
.c1s.trans-heavy:focus {
  background: rgba(178, 223, 241, 0.3);
  color: #000000;
}
.c2s {
  background: #9371e6;
  color: #ffffff;
}
.c2s.text {
  background: unset;
  color: #9371e6;
}
.c2s.hover:hover {
  background: #c4b2f1;
  color: #ffffff;
}
.c2s:focus {
  background: #c4b2f1;
  color: #ffffff;
}
.c2s.bordered {
  border: 5px solid #6230db;
}
.c2s.trans-light {
  background: rgba(147, 113, 230, 0.9);
}
.c2s.trans-light.text {
  background: unset;
  color: rgba(147, 113, 230, 0.9);
}
.c2s.trans-light.hover:hover {
  background: rgba(196, 178, 241, 0.9);
  color: #ffffff;
}
.c2s.trans-light:focus {
  background: rgba(196, 178, 241, 0.9);
  color: #ffffff;
}
.c2s.trans {
  background: rgba(147, 113, 230, 0.6);
}
.c2s.trans.text {
  background: unset;
  color: rgba(147, 113, 230, 0.6);
}
.c2s.trans.hover:hover {
  background: rgba(196, 178, 241, 0.6);
  color: #ffffff;
}
.c2s.trans:focus {
  background: rgba(196, 178, 241, 0.6);
  color: #ffffff;
}
.c2s.trans-heavy {
  background: rgba(147, 113, 230, 0.3);
}
.c2s.trans-heavy.text {
  background: unset;
  color: rgba(147, 113, 230, 0.3);
}
.c2s.trans-heavy.hover:hover {
  background: rgba(196, 178, 241, 0.3);
  color: #ffffff;
}
.c2s.trans-heavy:focus {
  background: rgba(196, 178, 241, 0.3);
  color: #ffffff;
}
.c3s {
  background: #ce71e6;
  color: #ffffff;
}
.c3s.text {
  background: unset;
  color: #ce71e6;
}
.c3s.hover:hover {
  background: #e4b2f1;
  color: #ffffff;
}
.c3s:focus {
  background: #e4b2f1;
  color: #ffffff;
}
.c3s.bordered {
  border: 5px solid #b730db;
}
.c3s.trans-light {
  background: rgba(206, 113, 230, 0.9);
}
.c3s.trans-light.text {
  background: unset;
  color: rgba(206, 113, 230, 0.9);
}
.c3s.trans-light.hover:hover {
  background: rgba(228, 178, 241, 0.9);
  color: #ffffff;
}
.c3s.trans-light:focus {
  background: rgba(228, 178, 241, 0.9);
  color: #ffffff;
}
.c3s.trans {
  background: rgba(206, 113, 230, 0.6);
}
.c3s.trans.text {
  background: unset;
  color: rgba(206, 113, 230, 0.6);
}
.c3s.trans.hover:hover {
  background: rgba(228, 178, 241, 0.6);
  color: #ffffff;
}
.c3s.trans:focus {
  background: rgba(228, 178, 241, 0.6);
  color: #ffffff;
}
.c3s.trans-heavy {
  background: rgba(206, 113, 230, 0.3);
}
.c3s.trans-heavy.text {
  background: unset;
  color: rgba(206, 113, 230, 0.3);
}
.c3s.trans-heavy.hover:hover {
  background: rgba(228, 178, 241, 0.3);
  color: #ffffff;
}
.c3s.trans-heavy:focus {
  background: rgba(228, 178, 241, 0.3);
  color: #ffffff;
}
.ter {
  background: #ce71e6;
  color: #ffffff;
}
.ter.text {
  background: unset;
  color: #ce71e6;
}
.ter.hover:hover {
  background: #e4b2f1;
  color: #ffffff;
}
.ter:focus {
  background: #e4b2f1;
  color: #ffffff;
}
.ter.bordered {
  border: 5px solid #b730db;
}
.ter.trans-light {
  background: rgba(206, 113, 230, 0.9);
}
.ter.trans-light.text {
  background: unset;
  color: rgba(206, 113, 230, 0.9);
}
.ter.trans-light.hover:hover {
  background: rgba(228, 178, 241, 0.9);
  color: #ffffff;
}
.ter.trans-light:focus {
  background: rgba(228, 178, 241, 0.9);
  color: #ffffff;
}
.ter.trans {
  background: rgba(206, 113, 230, 0.6);
}
.ter.trans.text {
  background: unset;
  color: rgba(206, 113, 230, 0.6);
}
.ter.trans.hover:hover {
  background: rgba(228, 178, 241, 0.6);
  color: #ffffff;
}
.ter.trans:focus {
  background: rgba(228, 178, 241, 0.6);
  color: #ffffff;
}
.ter.trans-heavy {
  background: rgba(206, 113, 230, 0.3);
}
.ter.trans-heavy.text {
  background: unset;
  color: rgba(206, 113, 230, 0.3);
}
.ter.trans-heavy.hover:hover {
  background: rgba(228, 178, 241, 0.3);
  color: #ffffff;
}
.ter.trans-heavy:focus {
  background: rgba(228, 178, 241, 0.3);
  color: #ffffff;
}
.c1t {
  background: #9371e6;
  color: #ffffff;
}
.c1t.text {
  background: unset;
  color: #9371e6;
}
.c1t.hover:hover {
  background: #c4b2f1;
  color: #ffffff;
}
.c1t:focus {
  background: #c4b2f1;
  color: #ffffff;
}
.c1t.bordered {
  border: 5px solid #6230db;
}
.c1t.trans-light {
  background: rgba(147, 113, 230, 0.9);
}
.c1t.trans-light.text {
  background: unset;
  color: rgba(147, 113, 230, 0.9);
}
.c1t.trans-light.hover:hover {
  background: rgba(196, 178, 241, 0.9);
  color: #ffffff;
}
.c1t.trans-light:focus {
  background: rgba(196, 178, 241, 0.9);
  color: #ffffff;
}
.c1t.trans {
  background: rgba(147, 113, 230, 0.6);
}
.c1t.trans.text {
  background: unset;
  color: rgba(147, 113, 230, 0.6);
}
.c1t.trans.hover:hover {
  background: rgba(196, 178, 241, 0.6);
  color: #ffffff;
}
.c1t.trans:focus {
  background: rgba(196, 178, 241, 0.6);
  color: #ffffff;
}
.c1t.trans-heavy {
  background: rgba(147, 113, 230, 0.3);
}
.c1t.trans-heavy.text {
  background: unset;
  color: rgba(147, 113, 230, 0.3);
}
.c1t.trans-heavy.hover:hover {
  background: rgba(196, 178, 241, 0.3);
  color: #ffffff;
}
.c1t.trans-heavy:focus {
  background: rgba(196, 178, 241, 0.3);
  color: #ffffff;
}
.c2t {
  background: #e671c4;
  color: #ffffff;
}
.c2t.text {
  background: unset;
  color: #e671c4;
}
.c2t.hover:hover {
  background: #f1b2df;
  color: #ffffff;
}
.c2t:focus {
  background: #f1b2df;
  color: #ffffff;
}
.c2t.bordered {
  border: 5px solid #db30a9;
}
.c2t.trans-light {
  background: rgba(230, 113, 196, 0.9);
}
.c2t.trans-light.text {
  background: unset;
  color: rgba(230, 113, 196, 0.9);
}
.c2t.trans-light.hover:hover {
  background: rgba(241, 178, 223, 0.9);
  color: #ffffff;
}
.c2t.trans-light:focus {
  background: rgba(241, 178, 223, 0.9);
  color: #ffffff;
}
.c2t.trans {
  background: rgba(230, 113, 196, 0.6);
}
.c2t.trans.text {
  background: unset;
  color: rgba(230, 113, 196, 0.6);
}
.c2t.trans.hover:hover {
  background: rgba(241, 178, 223, 0.6);
  color: #ffffff;
}
.c2t.trans:focus {
  background: rgba(241, 178, 223, 0.6);
  color: #ffffff;
}
.c2t.trans-heavy {
  background: rgba(230, 113, 196, 0.3);
}
.c2t.trans-heavy.text {
  background: unset;
  color: rgba(230, 113, 196, 0.3);
}
.c2t.trans-heavy.hover:hover {
  background: rgba(241, 178, 223, 0.3);
  color: #ffffff;
}
.c2t.trans-heavy:focus {
  background: rgba(241, 178, 223, 0.3);
  color: #ffffff;
}
.c3t {
  background: #e67189;
  color: #ffffff;
}
.c3t.text {
  background: unset;
  color: #e67189;
}
.c3t.hover:hover {
  background: #f1b2bf;
  color: #ffffff;
}
.c3t:focus {
  background: #f1b2bf;
  color: #ffffff;
}
.c3t.bordered {
  border: 5px solid #db3054;
}
.c3t.trans-light {
  background: rgba(230, 113, 137, 0.9);
}
.c3t.trans-light.text {
  background: unset;
  color: rgba(230, 113, 137, 0.9);
}
.c3t.trans-light.hover:hover {
  background: rgba(241, 178, 191, 0.9);
  color: #ffffff;
}
.c3t.trans-light:focus {
  background: rgba(241, 178, 191, 0.9);
  color: #ffffff;
}
.c3t.trans {
  background: rgba(230, 113, 137, 0.6);
}
.c3t.trans.text {
  background: unset;
  color: rgba(230, 113, 137, 0.6);
}
.c3t.trans.hover:hover {
  background: rgba(241, 178, 191, 0.6);
  color: #ffffff;
}
.c3t.trans:focus {
  background: rgba(241, 178, 191, 0.6);
  color: #ffffff;
}
.c3t.trans-heavy {
  background: rgba(230, 113, 137, 0.3);
}
.c3t.trans-heavy.text {
  background: unset;
  color: rgba(230, 113, 137, 0.3);
}
.c3t.trans-heavy.hover:hover {
  background: rgba(241, 178, 191, 0.3);
  color: #ffffff;
}
.c3t.trans-heavy:focus {
  background: rgba(241, 178, 191, 0.3);
  color: #ffffff;
}
.qua {
  background: #e671c4;
  color: #ffffff;
}
.qua.text {
  background: unset;
  color: #e671c4;
}
.qua.hover:hover {
  background: #f1b2df;
  color: #ffffff;
}
.qua:focus {
  background: #f1b2df;
  color: #ffffff;
}
.qua.bordered {
  border: 5px solid #db30a9;
}
.qua.trans-light {
  background: rgba(230, 113, 196, 0.9);
}
.qua.trans-light.text {
  background: unset;
  color: rgba(230, 113, 196, 0.9);
}
.qua.trans-light.hover:hover {
  background: rgba(241, 178, 223, 0.9);
  color: #ffffff;
}
.qua.trans-light:focus {
  background: rgba(241, 178, 223, 0.9);
  color: #ffffff;
}
.qua.trans {
  background: rgba(230, 113, 196, 0.6);
}
.qua.trans.text {
  background: unset;
  color: rgba(230, 113, 196, 0.6);
}
.qua.trans.hover:hover {
  background: rgba(241, 178, 223, 0.6);
  color: #ffffff;
}
.qua.trans:focus {
  background: rgba(241, 178, 223, 0.6);
  color: #ffffff;
}
.qua.trans-heavy {
  background: rgba(230, 113, 196, 0.3);
}
.qua.trans-heavy.text {
  background: unset;
  color: rgba(230, 113, 196, 0.3);
}
.qua.trans-heavy.hover:hover {
  background: rgba(241, 178, 223, 0.3);
  color: #ffffff;
}
.qua.trans-heavy:focus {
  background: rgba(241, 178, 223, 0.3);
  color: #ffffff;
}
.c1q {
  background: #ce71e6;
  color: #ffffff;
}
.c1q.text {
  background: unset;
  color: #ce71e6;
}
.c1q.hover:hover {
  background: #e4b2f1;
  color: #ffffff;
}
.c1q:focus {
  background: #e4b2f1;
  color: #ffffff;
}
.c1q.bordered {
  border: 5px solid #b730db;
}
.c1q.trans-light {
  background: rgba(206, 113, 230, 0.9);
}
.c1q.trans-light.text {
  background: unset;
  color: rgba(206, 113, 230, 0.9);
}
.c1q.trans-light.hover:hover {
  background: rgba(228, 178, 241, 0.9);
  color: #ffffff;
}
.c1q.trans-light:focus {
  background: rgba(228, 178, 241, 0.9);
  color: #ffffff;
}
.c1q.trans {
  background: rgba(206, 113, 230, 0.6);
}
.c1q.trans.text {
  background: unset;
  color: rgba(206, 113, 230, 0.6);
}
.c1q.trans.hover:hover {
  background: rgba(228, 178, 241, 0.6);
  color: #ffffff;
}
.c1q.trans:focus {
  background: rgba(228, 178, 241, 0.6);
  color: #ffffff;
}
.c1q.trans-heavy {
  background: rgba(206, 113, 230, 0.3);
}
.c1q.trans-heavy.text {
  background: unset;
  color: rgba(206, 113, 230, 0.3);
}
.c1q.trans-heavy.hover:hover {
  background: rgba(228, 178, 241, 0.3);
  color: #ffffff;
}
.c1q.trans-heavy:focus {
  background: rgba(228, 178, 241, 0.3);
  color: #ffffff;
}
.c2q {
  background: #e67189;
  color: #ffffff;
}
.c2q.text {
  background: unset;
  color: #e67189;
}
.c2q.hover:hover {
  background: #f1b2bf;
  color: #ffffff;
}
.c2q:focus {
  background: #f1b2bf;
  color: #ffffff;
}
.c2q.bordered {
  border: 5px solid #db3054;
}
.c2q.trans-light {
  background: rgba(230, 113, 137, 0.9);
}
.c2q.trans-light.text {
  background: unset;
  color: rgba(230, 113, 137, 0.9);
}
.c2q.trans-light.hover:hover {
  background: rgba(241, 178, 191, 0.9);
  color: #ffffff;
}
.c2q.trans-light:focus {
  background: rgba(241, 178, 191, 0.9);
  color: #ffffff;
}
.c2q.trans {
  background: rgba(230, 113, 137, 0.6);
}
.c2q.trans.text {
  background: unset;
  color: rgba(230, 113, 137, 0.6);
}
.c2q.trans.hover:hover {
  background: rgba(241, 178, 191, 0.6);
  color: #ffffff;
}
.c2q.trans:focus {
  background: rgba(241, 178, 191, 0.6);
  color: #ffffff;
}
.c2q.trans-heavy {
  background: rgba(230, 113, 137, 0.3);
}
.c2q.trans-heavy.text {
  background: unset;
  color: rgba(230, 113, 137, 0.3);
}
.c2q.trans-heavy.hover:hover {
  background: rgba(241, 178, 191, 0.3);
  color: #ffffff;
}
.c2q.trans-heavy:focus {
  background: rgba(241, 178, 191, 0.3);
  color: #ffffff;
}
.c3q {
  background: #e69371;
  color: #ffffff;
}
.c3q.text {
  background: unset;
  color: #e69371;
}
.c3q.hover:hover {
  background: #f1c4b2;
  color: #ffffff;
}
.c3q:focus {
  background: #f1c4b2;
  color: #ffffff;
}
.c3q.bordered {
  border: 5px solid #db6230;
}
.c3q.trans-light {
  background: rgba(230, 147, 113, 0.9);
}
.c3q.trans-light.text {
  background: unset;
  color: rgba(230, 147, 113, 0.9);
}
.c3q.trans-light.hover:hover {
  background: rgba(241, 196, 178, 0.9);
  color: #ffffff;
}
.c3q.trans-light:focus {
  background: rgba(241, 196, 178, 0.9);
  color: #ffffff;
}
.c3q.trans {
  background: rgba(230, 147, 113, 0.6);
}
.c3q.trans.text {
  background: unset;
  color: rgba(230, 147, 113, 0.6);
}
.c3q.trans.hover:hover {
  background: rgba(241, 196, 178, 0.6);
  color: #ffffff;
}
.c3q.trans:focus {
  background: rgba(241, 196, 178, 0.6);
  color: #ffffff;
}
.c3q.trans-heavy {
  background: rgba(230, 147, 113, 0.3);
}
.c3q.trans-heavy.text {
  background: unset;
  color: rgba(230, 147, 113, 0.3);
}
.c3q.trans-heavy.hover:hover {
  background: rgba(241, 196, 178, 0.3);
  color: #ffffff;
}
.c3q.trans-heavy:focus {
  background: rgba(241, 196, 178, 0.3);
  color: #ffffff;
}
.spray-widget {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 200px;
  width: 200px;
  background: rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=Spray.css.map */
