// main: ../style.less
.img-parallax{
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
 //   padding:@var-nav-height 0;
}
.profile-pic{
    margin:10px;
    &.round{
        border-radius:500px;
    }
    &.small{
        width:100px;
    }
}
img.responsive{
    min-width:200px;
    height:auto;
    max-width:100%;
}
#img-me{
    position: absolute;

    width:330px;

    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    transition: all .5s;
    filter:grayscale(50%);
    &:hover{
        filter:grayscale(0);
        width:310px;
    }
}
.impact-border{
    box-shadow: 0 0 50px rgba(0,0,0,1);
    border:20px solid rgba(0,0,0,.2);
    border-radius: 500px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    &.small{
        border-width: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,1);
    }
}
.img-filler{
    background:@var-theme-dark;
    
    vertical-align: middle;
    img{
        display: block;
        margin:auto;
    }
}
@media only screen and (max-width: @var-break-point-md) {
    #img-me{
        width:250px;
    }
    .img-parallax{
        height:auto !important;
        min-height: 100vh;
    }
}