// main: ../style.less
ul.list {
  color: @var-theme-light;
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  // align-items: stretch;
  justify-content: center;
  list-style: none;
  transition: all 0.5s;
  //justify-content: stretch;
  li {
  }
}

@media only screen and (max-width: @var-break-point-sm) {
  ul.list {
    justify-content: center;

    li {
      flex-grow: 1;
      justify-content: center;
    }
  }
}

