// main: ../style.less
section{
    //background:rgba(0,0,0,.5);
    border:1px solid #f00;
}
.spanner{
    background:url("../../imgs/clouds.png");
    display:flex;
    min-height:inherit;
    min-width: inherit;
    align-items: center;
    justify-content: center;
    margin:auto;
}