// main: ../style.less
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Wire+One');
@import url('https://fonts.googleapis.com/css?family=Geo');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@var-width-lg:1250px;
@var-width-md:950px;
@var-width-sm:610px;
@var-nav-height:50px;
@var-nav-font-size:30px;
@var-body-font-size:25px;
@var-header-font-size:45px;
@var-nav-font: @var-nav-font-size "Josefin Sans";
@var-body-font: @var-body-font-size "Geo";
@var-header-font:@var-header-font-size "Josefin Sans";
@var-theme-dark:rgba(82, 98, 122, 0.425);
@var-theme-light:#ffffff;

@var-break-point-lg:1300px;
@var-break-point-md:1030px;
@var-break-point-sm:630px;

//widgets
@var-skills-widget-dark:rgb(36, 10, 85);
@var-skills-widget-light:rgb(233, 167, 211);

@var-contact-widget-dark:rgba(0, 143, 199,.6);
@var-contact-widget-light:rgba(190, 255, 246,.6);

@var-portfolio-widget-dark:rgb(102, 92, 77);
@var-portfolio-widget-light:rgb(224, 205, 184);